<div ng-controller="configurationformcontroller">

<!--<section class="content">-->
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">
                 Profile Form  :
              </h3>
            </div>
             <div class="box-body">
               <button ng-click="btnAddClick()" type="button" class="btn btn-flat" data-widget=""><i class="glyphicon glyphicon-plus"></i> Add Field</button>
               
               <br>
               <br>
              <div class="table-responsive">
              <table class="table table-striped table-bordered">
              <thead>
                <tr>
                <th>Key</th>
                <th>Type </th>
                <th>Label </th>
                <th>Placeholder</th>
                <th>Type</th>
                <th>Action</th>
                </tr>
                </thead>
                <tbody>
                   <tr ng-repeat="profile in profilefield">
                        <td ng-if="profile._id != 0 && profile.editmode == false">
                           {{profile.key}}
                        </td>  
                        <td ng-if="profile._id != 0 && profile.editmode == false">
                           {{profile.type}}
                        </td>
                        <td ng-if="profile._id != 0 && profile.editmode == false">
                           {{profile.templateOptions.label}}
                        </td>
                        <td ng-if="profile._id != 0 && profile.editmode == false">
                           {{profile.templateOptions.placeholder}}
                        </td>
                        <td ng-if="profile._id != 0 && profile.editmode == false">
                           {{profile.templateOptions.type}}
                        </td>

                        <td ng-if="profile._id != 0 && profile.editmode == true">
                           <input type="text" placeholder="Key" class="form-control col-md-6" ng-model="profile.key">
                        </td>
                        <td ng-if="profile._id != 0 && profile.editmode == true">
                          <select class="form-control" style="padding-left:0px; padding-right:0px; height: 26px;" ng-model="profile.type">
                                <option value="">Please Select</option>
                                <option value="input">
                                      Input
                                </option>
                                <option value="textarea">
                                      Textarea
                                </option>
                                <option value="select">
                                      Select
                                </option>
                             </select>
                        </td>
                        <td ng-if="profile._id != 0 && profile.editmode == true">
                            <input type="text" placeholder="Label" class="form-control col-md-6" ng-model="profile.templateOptions.label">
                        </td>
                        <td ng-if="profile._id != 0 && profile.editmode == true">
                            <input type="text" placeholder="Placeholder" class="form-control col-md-6" ng-model="profile.templateOptions.placeholder">
                        </td>
                        <td ng-if="profile._id != 0 && profile.editmode == true">
                          <select class="form-control" style="padding-left:0px; padding-right:0px; height: 26px;" ng-model="profile.templateOptions.type">
                                <option value="">Please Select</option>
                                <option value="text">
                                      Text
                                </option>
                                <option value="email">
                                      Email
                                </option>
                                <option value="date">
                                      Date 
                                </option>
                                 <option value="password">
                                      Password 
                                </option> 
                                <option value="file">
                                      File 
                                </option>
                                 <option value="radio">
                                      Radio 
                                </option>
                                <option value="checkbox">
                                      Checkbox 
                                </option> 
                             </select>
                        </td>






                        <td ng-if="profile._id !=0">
                         <button ng-if="profile.editmode == false" class="btn btn-default" ng-click="btnUpdateClick(profile)">Edit</button>
                         <button ng-if="profile.editmode == false" class="btn btn-default" ng-click="btnDeleteClick(profile._id)">Delete</button>


                        <button ng-if="profile.editmode == true" type="button" class="btn btn-default btn-width" ng-click="UpdateClick(profile)">Save</button>
                        <button ng-if="profile.editmode == true" type="button" class="btn btn-default btn-width" ng-click="turnoffeditmode(profile)">Cancel</button>
                        </td>

                        
                        <td ng-if="profile._id == 0">
                            <input type="text" placeholder="Key" class="form-control col-md-6" ng-model="profile.key">
                        </td>
                         <td ng-if="profile._id == 0">
                             <select class="form-control" style="padding-left:0px; padding-right:0px; height: 26px;" ng-model="profile.type">
                                <option value="">Please Select</option>
                                <option value="input">
                                      Input
                                </option>
                                <option value="textarea">
                                      Textarea
                                </option>
                                <option value="select">
                                      Select
                                </option>
                             </select>
                        </td>
                        
                         <td ng-if="profile._id == 0">
                            <input type="text" placeholder="Label" class="form-control col-md-6" ng-model="profile.templateOptions.label">
                        </td>
                         <td ng-if="profile._id == 0">
                            <input type="text" placeholder="Placeholder" class="form-control col-md-6" ng-model="profile.templateOptions.placeholder">
                        </td>

                        <td ng-if="profile._id == 0">
                           <select class="form-control" style="padding-left:0px; padding-right:0px; height: 26px;" ng-model="profile.templateOptions.type">
                                <option value="">Please Select</option>
                                <option value="text">
                                      Text
                                </option>
                                <option value="email">
                                      Email
                                </option>
                                <option value="date">
                                      Date 
                                </option>
                                 <option value="password">
                                      Password 
                                </option> 
                                <option value="file">
                                      File 
                                </option>
                                 <option value="radio">
                                      Radio 
                                </option>
                                <option value="checkbox">
                                      Checkbox 
                                </option> 
                             </select>
                        </td>
                        
                        
                   </tr>
                   <tr>
                       <td colspan="6">
                             <button  ng-show="showbtn" type="button" class="btn btn-default btn-width" ng-click="AddClick(profilefield)">Save</button>
                        </td>
                   </tr>
                </tbody>
              </table>

             </div>
          </div>
        </div>
    </div>
<!--</section>-->
<div class="modal modal-message fade" id="modal-delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:;" class="close" data-dismiss="modal">x</a>
                    <h4 class="modal-title">Delete Field</h4>
                </div>
                <div class="modal-body">
                       <div class="form-group">
                       <p>Are you sure you want to delete the field?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" class="btn btn-default btn-width btn-margin" data-dismiss="modal">Cancel</a>
                    <button type="button" class="btn btn-default btn-width" ng-click="DeleteClick(datafield._id)">
                        <span>Ok</span>
                    </button>
                  
                </div>
            </div>
        </div>
    </div>

</div>