
<!--<div class="jumbotron">-->
      <!--<div class="container">-->
        <!--<h1>Hello!</h1>-->
      
      <!--</div>-->
    <!--</div>-->



<div class="box" ng-controller="calendarcontroller" ng-cloak>
  <div class="box-body">
    <h1>Hello!</h1>
    <br>
    <div ng-show="showWidget('Calendar')">
      <div class="col-md-6" >
        <div class="pull-left">
          <md-button class="md-raised" ng-click="changeView('month')">month</md-button>
          <md-button class="md-raised" ng-click="changeView('basicWeek')">week</md-button>
          <md-button class="md-raised" ng-click="changeView('basicDay')">day</md-button>
        </div>    

        <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
      </div>
    </div>
  </div>
</div>
<style>
  [ng-cloak]{
  display: none;
}

body{
  box-sizing: border-box;
  padding: .3em;
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}
</style>