<div ng-controller="mastercontroller">
 
<div class="login-box">
 <div class="login-logo">
    <a href=""><b>Login</b> Quiz</a>
</div>
  <!-- /.login-logo -->
  <div class="login-box-body" style="background:#333;color:#fff">
    <p class="login-box-msg">Please Sign in</p>
    <form>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Username" ng-model="user.Username">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password" ng-model="user.Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
               <a ng-click="btnRegisterClick()" class="text-center">Register</a>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="loginClick()">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>

</div>

 
