<div ng-controller="quizcontroller"class="col-md-12">

    <section class="content">
        <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">
                {{subjectname}}
              </h3>
            </div>

            <div class="box-body">
                <div class="row">
                     <div class="col-md-3">
                          <div class="panel-default btn-flat" style="background:#f8f6ef">
                              <div class="panel-heading">
                                <h5 class="panel-title text-center">{{randomQuestion.No}} / {{TotalQuestion}}</h5>
                              </div>

                               <div class="panel-body text-center">                        
                                    <strong>QUESTIONS</strong>
                               </div>
                          </div>
                     </div>

                       <div class="col-md-9">
                           <div class="panel-default btn-flat" style="background:#f8f6ef">
                                <div class="panel-heading">
                                <h4> {{randomQuestion.Question}} ?</h4>
                                <br>
                                
                                </div>

                           </div>
                      </div>
                </div>

                <br>
                <div class="row">
                     <div class="col-md-6" ng-repeat="choices in randomQuestion.Choices">
                          <div class="panel-default btn-flat" style="background:#f8f6ef">
                              <div class="panel-heading">
                                <h3> <input  type="radio" name="optionsRadios_{{question._id}}" id="optionsRadios1" value="{{choices._id}}" ng-model="randomQuestion.Answer"> {{choices.ChoicesName}} </h3>
                              </div>

                               <div class="panel-body text-center">                        
                                   
                               </div>
                          </div>
                          <br>
                     </div>     
                </div>

                <div class="col-md-12 text-right" >
                <button class="btn btn-primary btn-lg" ng-click="getsinglerandomquestion()" ng-disabled="!togglebutton">Next</button>
                <button class="btn btn-primary btn-lg" ng-click="submit()" ng-disabled="togglebutton || Questions.length == 0">Submit</button>
                </div>
            </div>
        </div>
    </section>
<div class="modal modal-message fade" id="modal-score">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:;" class="close" data-dismiss="modal">x</a>
                    <h4 class="modal-title">Result</h4>
                </div>
                <div class="modal-body">
                       <div class="form-group">
                       <h3 class="text-center"> SCORE : {{submitquizobj.Score}}</h3>
                    </div>
                </div>
                <!--<div class="modal-footer">
                    <a href="javascript:;" class="btn btn-default btn-width btn-margin" data-dismiss="modal">Cancel</a>
                    <button type="button" class="btn btn-default btn-width" ng-click="deleteClick()">
                        <span>Ok</span>
                    </button>
                  
                </div>-->
            </div>
        </div>
    </div>
    
</div>
<style>
    .status .panel-title {
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
    font-weight: bold;
    color: #fff;
    line-height: 45px;
    padding-top: 20px;
    letter-spacing: -0.8px;

}
</style>