<div ng-controller="quizcontroller">

    <!--<section class="content">-->
        <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">
                {{subjectname}}
              </h3>
            </div>

            <div class="box-body">
           <div class="questionsBox">
           <div class="questions">
             {{randomQuestion.No}}).  {{randomQuestion.Question}} 
           </div>
           <ul class="answerList list-group" ng-repeat="choices in randomQuestion.Choices">
                <li  class="list-group-item">
                    <label>
                        <input  type="radio" name="optionsRadios_{{question._id}}" id="optionsRadios1" value="{{choices._id}}" ng-model="randomQuestion.Answer"> {{choices.ChoicesName}}
                    </label>
                </li>
           </ul>
           <div class="questionsRow">
                <div class="row">
                     <div class="col-md-3">
                        <button class="btn btn-primary btn-flat">
                            {{randomQuestion.No}} of {{TotalQuestion}}
                        </button>
                     </div>

                     <div class="col0md-9 text-right">
                        <button class="btn btn-primary btn-lg" ng-click="getsinglerandomquestion()" ng-disabled="!togglebutton">Next</button>
                        <button class="btn btn-primary btn-lg" ng-click="submit()" ng-disabled="togglebutton || Questions.length == 0">Submit</button>
                     </div>
                </div>
               
           </div>
            </div>
        </div>
    <!--</section>-->
    <div class="modal modal-message fade" id="modal-score">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
          
                    <h4 class="modal-title">Result</h4>
                </div>
                <div class="modal-body">
                       <div class="form-group">
                       <h3 class="text-center"> SCORE : {{submitquizobj.Score}}</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-default btn-width" ng-click="CloseResult()">
                        <span>OK</span>
                    </button>
                  
                </div>
            </div>
        </div>
    </div>
    
</div>
<style>
    .status .panel-title {
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
    font-weight: bold;
    color: #fff;
    line-height: 45px;
    padding-top: 20px;
    letter-spacing: -0.8px;

    }
    .questionsBox {
    display: block;
    border: solid 1px #e3e3e3;
    padding: 10px 20px 0px;
    box-shadow: inset 0 0 30px rgba(000,000,000,0.1), inset 0 0 4px rgba(255,255,255,1);
    border-radius: 3px;
    margin: 0 10px;
}

.questions {
    background: #007fbe;
    color: #FFF;
    font-size: 22px;
    padding: 8px 30px;
    font-weight: 300;
    margin: 0 -30px 10px;
    position: relative;
}
.answerList {
    margin-bottom: 15px;
}
.questionsRow {
    background: #dee3e6;
    margin: 0 -20px;
    padding: 10px 20px;
    border-radius: 0 0 3px 3px;
}

</style>